<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2015 Magic Box Software. All rights reserved.  
  Licensed under the MIT license.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.mbxsw.vs.clean-cordova-build"
    version="0.8.5">
    <name>Remove excess files plugin</name>
	<author>Magic Box Software</author>
    <description>Plugin removes config, unminified js/css, specified and misc. files from the platform folder when creating app packages.</description>
    <license>MIT</license>
    <keywords>visualstudio,vs,visual,studio,cordova,build</keywords>
	<info>
		Place list of unique file names or glob file patterns 1 per line in releaseignoreglobal.txt project root (where your index.html lives) to be removed anywhere in the project.

		To remove files from 1 directory - Place list of unique file names 1 per line in releaseignore.txt in the directory as the file(s).

		To remove an entire directory - place a blank ignorereleasedir.txt file in the directory.
		
		Files beginning with a "." dot are automatically removed as are .nupkg, packages.config and _references.js.
	</info>
    <repo>https://github.com/MagicBoxSoftware/vs-cordova-3-1-ignore-files</repo>
    <issue>https://github.com/MagicBoxSoftware/vs-cordova-3-1-ignore-files/issues</issue>
    <hook type="after_prepare" src="remove-excess-files.js" />
</plugin>